<!-- views/partials/header.ejs 
    Contains the navbar present on each page for a more dynamic viewing experience
    Changes based on whether or not a user is currently authenticated
-->

<nav class="navbar navbar-expand-md text-white c-bg-nav">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            
                <!-- If there is a user logged in then display a "Profile" and "Recommendations" link -->
                <% if (user) {    %>
                    <li class="nav-item mx-lg-4">
                        <a class="nav-link c-text" href="/users/profile">Profile<i class="fas fa-id-card mx-2"></i></a>
                    </li>
                    <li class="nav-item mx-lg-4">
                            <a class="nav-link c-text" href="/recommendations">Recommendations<i class="fas fa-chalkboard-teacher mx-2"></i></a>
                    </li>
                <% }    %>
                
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="mx-auto c-title-text" href="/"><h1 class="display-4">MovieRecs</h1></a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">

            <!-- If no user logged in then display a login and register link -->
            <% if (!user) {    %>
                <li class="nav-item mx-lg-4">
                    <a class="nav-link c-text" href="/login">Login<i class="fas fa-portrait mx-2"></i></a>
                </li>
                <li class="nav-item mx-lg-4">
                    <a class="nav-link c-text" href="/registration">Register<i class="fas fa-user-plus mx-2"></i></a>
                </li>

            <!-- If a user is logged in then display a greeting and a logout link -->
            <% } else {        %>
                <span class="navbar-text c-welcome-text" style="font-size: 1em;">
                    Hello <%= user.first_name + ' ' + user.last_name %>!
                </span>
                <li class="nav-item mx-lg-4">
                    <a class="nav-link c-text" href="/logout">Log Out<i class="fas fa-power-off mx-2"></i></a>
                </li>    
            <% }               %>
        </ul>
    </div>
    </nav>
