<script src="/static/js/searchBar.script.js"></script>

<div class="container">
    <div class="row justify-content-center">

        <div class="col col-sm-7">

            <form class="my-3" method="POST" action="/movies/search" id="searchForm">
                <div class="input-group">
                    <input type="text" class="form-control" name="query" placeholder="Search for movie titles here..." id="searchBar">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit" id="searchSubmit">
                                <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            
            
        </div>
    </div>
</div>
