<!-- views/pages/index.ejs -->

<% include ../partials/head %>


    <a href="/login">Login</a>
    <br>
    <a href="/register">Register</a>
    <a href="/logout">Logout</a>


<% include ../partials/foot %>