<!-- views/pages/index.ejs -->

<% include ../partials/head %>

    <h1>MovieRecs</h1>

    <%  if (user) {  %>

    <a href="/logout">Logout</a>

    <% } else { %>

    <a href="/registration">Register</a>
    <br>
    <a href="/login">Login</a>

    <% }        %>
    
<% include ../partials/foot %>