<!-- views/pages/index.ejs -->

<% include ../partials/head %>

<% include ../partials/header %>

<div class="row">
    <a class="mx-auto mt-lg-5 mt-sm-3 d-block"href="/recommendations">
        <button class="btn btn-success"><h1>View Recommendations</h1></button>
    </a>
</div>
    

<% include ../partials/foot %>