<% include ../partials/head %>
<% include ../partials/header %>

<div class="container">

    <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Username: <%= user.username %>
            </li>
            <li class="list-group-item">
                Email Address: <%= user.email %>
            </li>
            <li class="list-group-item">
                First Name: <%= user.first_name %>
            </li>
            <li class="list-group-item">
                Last Name: <%= user.last_name %>
            </li>
    </ul>

</div>

<% include ../partials/foot %>