
<% include ../partials/head %>
<% include ../partials/header %>

<% if (movies.length > 0) { %>
  
  <% include ../partials/recs %>

  <% } else { %>
      <div class="c-message-div">
          <p class="text-center">Rating data is too sparse to provide accurate recommendations at this time. Please rate more movies that you have seen.</p>
      </div>
  <% } %>

 

  <% include ../partials/foot %>