<!-- views/pages/registration.ejs -->

<% include ../partials/head %>

<% include ../partials/header %>

<script src="/static/js/registrationForm.script.js"></script>

<div class="container my-5" style="width: 75%;">

    <h2 class="text-center">Registration</h2>

    <form action="/register" method="POST">
    
        <div class="form-group">
            <label for="regEmail">Email Address</label>
            <input class="form-control" type="email" id="regEmail" name="email" placeholder="Email Address">
        </div>

        <div class="form-group">
            <label for="regUsername">Username</label>
            <input class="form-control" type="text" id="regUsername" name="username" placeholder="Username">
        </div>

        <div class="form-group">
            <label for="regFirstName">First Name</label>
            <input class="form-control" type="text" id="regFirstName" name="fName" placeholder="First Name">
        </div>

        <div class="form-group">
            <label for="regLastName">Last Name</label>
            <input class="form-control" type="text" id="regLastName" name="lName" placeholder="Last Name">
        </div>

        <div class="form-group">
            <label for="regPW">Password</label>
            <input class="form-control" type="password" id="regPW" name="password" placeholder="Password">
        </div>

        <div class="form-group">
            <label for="regPWConfirm">Confirm Password</label>
            <input class="form-control" type="password" id="regPWConfirm" placeholder="Confirm Password">
        </div>

        <button class="btn btn-success" disabled=true type="submit" id="regSubmit">Sign Up</button>

        <div class="alert alert-danger" hidden=true role="alert" id="regPWMessage">
            Passwords do not match!
        </div>
    
    </form>

</div>

<% include ../partials/foot %>